#markedWords, .header_heading::after, .section .section_text::after, .section_banner .section_banner_text_wrap .section_banner_heading::after {
  background-color: #FF4E33;
  color: #fff;
  line-height: 38px;
  position: absolute; }

#logo, body .header .header-wrap .landing-logo, .footer .footer-wrap .footer_logo {
  display: flex;
  height: 45px; }

#p-logo, body .header .header-wrap .landing-logo p, .footer .footer-wrap .footer_logo p {
  font-weight: bold;
  font-size: 20px;
  margin: 5px 0 -3px 5px; }

#span-logo, body .header .header-wrap .landing-logo p span, .footer .footer-wrap .footer_logo p span {
  display: block;
  font-size: 9px;
  text-align: center;
  margin-top: 0; }

body {
  max-width: 1920px;
  background-color: #21232E; }
  body .header {
    height: 720px;
    background-image: url(../img/m-h-night.jpg);
    background-repeat: no-repeat;
    background-size: 1920px 720px;
    margin: 0;
    padding: 0;
    border-bottom-right-radius: 50em 17em; }
    body .header .header-wrap {
      padding-left: 192px; }
      body .header .header-wrap .landing-logo {
        padding-top: 25px; }
        body .header .header-wrap .landing-logo p {
          color: #fff;
          font-family: "Fresca", sans-serif; }
          body .header .header-wrap .landing-logo p span {
            color: #fff; }

.header_heading {
  width: 490px;
  color: #fff;
  position: relative;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 45px;
  font-weight: bold; }
  .header_heading::after {
    content: "awesome";
    top: 65px;
    left: 0; }

.header_text {
  padding-top: 60px;
  width: 600px;
  line-height: 1.6;
  padding-bottom: 65px;
  color: #F0FBF6;
  font-family: "Fresca", sans-serif;
  white-space: pre-line; }

div .header_button {
  width: 143px;
  height: 50px;
  background-color: #E3AC00;
  border-radius: 3px;
  color: #F0EFF7;
  border: none;
  font-family: 'Hind', sans-serif;
  font-size: 18px; }
  div .header_button:hover {
    background-color: rgba(227, 172, 0, 0.1);
    border: 1px solid white;
    color: #40E0D0; }
div .login {
  color: #FDF7EE;
  padding-left: 152px;
  font-family: "Hind", sans-serif;
  font-size: 18px;
  font-weight: bold; }

.section {
  height: 1400px;
  margin-bottom: -230px; }
  .section .section_text {
    padding: 20px 0 10px 0;
    color: #fff;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 32px;
    text-align: center;
    vertical-align: text-top; }
    .section .section_text::after {
      content: "adventure";
      top: 780px;
      left: 960px; }
  .section .section_card {
    width: 1080px;
    margin-left: 392px;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    border-radius: 5px;
    background-color: #3B3F50;
    padding: 22px; }
    .section .section_card .section_card_img {
      width: 320px;
      height: 190px; }
    .section .section_card .section_card_right_container .section_card_heading {
      color: #fff;
      text-align: center;
      padding-right: 150px;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 20px;
      font-weight: bold; }
    .section .section_card .section_card_right_container .section_card_text {
      color: #CBCBC4;
      height: 90px;
      width: 460px;
      padding-right: 150px;
      font-family: "Fresca", sans-serif; }
    .section .section_card .section_card_right_container .section_link {
      color: #CBCBC4;
      font-family: 'Hind', sans-serif;
      padding-left: 32%; }
      .section .section_card .section_card_right_container .section_link:visited {
        color: #0FC0FC; }
      .section .section_card .section_card_right_container .section_link:hover {
        color: #2CCCBC; }

.section_banner {
  width: 1200px;
  height: 144px;
  display: flex;
  justify-content: space-around;
  background: linear-gradient(to right, #DDA306, #932D52);
  border-radius: 5px;
  margin-top: 215px;
  margin-left: 360px;
  position: absolute; }
  .section_banner .section_banner_text_wrap .section_banner_heading {
    margin-top: 30px;
    color: #fff;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 29px;
    font-weight: bold; }
    .section_banner .section_banner_text_wrap .section_banner_heading::after {
      content: "start";
      top: 30px;
      left: 283px; }
  .section_banner .section_banner_text_wrap .section_banner_text {
    color: #CBCBC4;
    font-family: "Fresca", sans-serif;
    margin-top: -10px; }
  .section_banner .section_banner_button {
    width: 143px;
    height: 50px;
    background-color: #E3AC00;
    border-radius: 3px;
    color: #F0EFF7;
    border: none;
    font-family: 'Hind', sans-serif;
    font-size: 18px;
    margin-top: 45px; }
    .section_banner .section_banner_button:hover {
      background-color: rgba(227, 172, 0, 0.1);
      border: 1px solid white;
      color: #40E0D0; }

.footer .footer-wrap {
  display: flex;
  justify-content: space-around;
  background-color: #3B3F50;
  height: 244px;
  font-family: "Fresca", sans-serif; }
  .footer .footer-wrap .footer_logo {
    padding-top: 140px; }
    .footer .footer-wrap .footer_logo p {
      color: #CBCBC4;
      font-family: "Fresca", sans-serif; }
      .footer .footer-wrap .footer_logo p span {
        color: #CBCBC4; }
  .footer .footer-wrap .footer_text {
    width: 300px;
    height: 55px;
    padding-top: 130px;
    color: #D1D1D1;
    font-size: 14px;
    line-height: 20px; }
  .footer .footer-wrap .footer-cr {
    width: 180px;
    padding-top: 147px;
    color: #D1D1D1; }
