$backgroundImage: url(../img/m-h-day.jpg);
$contentBackground: #fff;
$footer_sectionBackgroung: #21232E;
$footerText: #A8B8C8;
$backgroundgradient: linear-gradient(to right, #649414, #2E5CD4);
$textColorHeader: #41434B;
$textColorLink: #FFFEFC;
$textColor: #2C2F3C;
$textColorSection: #fff;
$buttonColor: #F2EEDA;
$buttonBackground: #699900;
$buttonBackgroundHover: rgba(105,153,0, 0.1);
$links_bannerText: #BDBEB9;
$wordsColor: #14A0C7;
$header_footerFons: 'Hind', sans-serif;
$section_footerText: #C0C3CD;
$marginLogo: -2px 0 0 10px;
$marginTop: -3px;
