$backgroundImage: url(../img/m-h-night.jpg);
$contentBackground: #21232E;
$footer_sectionBackgroung: #3B3F50;
$footerText: #D1D1D1;
$backgroundgradient: linear-gradient(to right, #DDA306, #932D52);
$textColorHeader: #F0FBF6;
$textColorLink: #FDF7EE;
$textColor: #fff;
$textColorSection: #fff;
$buttonColor: #F0EFF7;
$buttonBackground: #E3AC00;
$buttonBackgroundHover: rgba(227,172,0, 0.1);
$links_bannerText: #CBCBC4;
$wordsColor: #FF4E33;
$header_footerFons: 'Fresca', sans-serif;
$section_footerText: #CBCBC4;
$marginLogo: 5px 0 -3px 5px;
$marginTop: 0;